body {
  font-family: myriad-pro, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-black;
  z-index: 1;
  position: relative;

  @include respond(tab-port) {
    font-size: 1.8rem;
  }
}

p {
  font-size: 1.8rem;
}
.button_text {
  text-transform: uppercase;
  font-size: 1.8rem;
  color: $color-white;
}

.paragraph {
  color: $color-black;
  font-size: 1.8rem;
  font-weight: 400;
  text-shadow: none;
  z-index: 1;
  position: relative;

  &--brown {
    color: $color-secondary;
  }
  &--white {
    color: $color-white;
  }
  &--primary {
    color: $color-primary;
  }
}

.policy {
  text-decoration: none;
  cursor: pointer;
  color: $color-white;
  display: inline-block;
  text-transform: uppercase;
  font-size: 1.3rem;
  &--blue {
    color: $color-primary-light;
  }
  &--white {
    color: $color-white;
  }
}

%shared_text_info {
  color: $color-white;
  text-transform: uppercase;
}

h1 {
  font-family: playfair-display, serif;
  font-size: 2.8rem;
  letter-spacing: 1.3px;
  color: $color-primary;
  font-weight: 900;
  line-height: 1.2;

  @include respond(phone) {
    font-size: 4rem;
  }
  @include respond(tab-port) {
    font-size: 3.5rem;
  }
  @include respond(tab-port-lg) {
    font-size: 4.5rem;
  }
}

h2 {
  font-family: playfair-display, serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.3px;
}

h3 {
  font-size: 1.7rem;
  @extend %shared_text_info;
  letter-spacing: 1.2px;
  color: $color-secondary;
}

h4 {
  font-family: playfair-display, serif;
  font-size: 2rem;
  line-height: 1.5;
  z-index: 2;
  position: relative;
  display: block;
  color: $color-secondary-light;
}
