.footer {
  background-color: $color-dark;
  color: $color-white;
  padding: 0 0 4rem;
  font-size: 1.2rem;
  overflow: hidden;
  position: relative;
  z-index: 1;
  text-align: center;
  padding-top: 4rem;

  &__group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;

    @include respond(tab-port) {
      flex-direction: row;
      align-items: flex-start;
      gap: 5rem;
    }

    &__item {
      width: 30rem;
    }
  }

  &__social {
    width: 4rem;
    height: 4rem;
    margin: 3rem auto;
  }
}
