.offer {
  text-align: center;
  background-image: url('~@images/whatioffer/offer_background.jpg');
  background-size: cover;
  background-position: bottom-right;
  background-repeat: no-repeat;
  padding: 3rem 0;

  &__title {
    color: $color-white;
    font-size: 9rem;
    text-shadow: 0 0 5px rgba($color-black, 40%);
  }

  &__titlearea {
    width: 95%;
    max-width: 90rem;
    margin: 0 auto;

    h3 {
      color: $color-white;
      text-shadow: 0 0 5px rgba($color-black, 60%);
    }
  }

  &__cards {
    display: flex;
    margin: 3rem auto;
    gap: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 110rem;
  }
}
